.title {
    color: #02ccba;
    background-color: #ccffff;
    width:700px;
    text-align:center;
  }
.a{
  color: red;
}  
body{
  background-color:#f0ffff;
}

.main{
  padding-left: 40px;
}

h2{
  background-color:#ffffcc;
  width:660px;
  color:#02ccba
}

span{
  color: #02ccba;
}
